#mainPane {
    -fx-background-color: purple;
    -fx-font-size: 15pt;
}
#menu-buttons {
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-font-family: "Arial";
}

#menu-buttons:hover {
    -fx-background-color: black;
    -fx-text-fill: red;
}

#powerUP{
     -fx-fill:linear-gradient(palegreen, seagreen);
    }


