#mainPane {
	-fx-font-family:'Arcade Interlaced';
    -fx-background-color: purple;
    -fx-font-size: 15.0pt;
    
}
#menu-buttons {
    -fx-background-color: black;
    -fx-text-fill: white;
}

#menu-buttons:hover {
    -fx-background-color: black;
    -fx-text-fill: red;
}
