@font-face {
    font-family: Arcade;
    src:url('arcade.ttf');
}

#mainPane {
	-fx-background-image: url("tunnel_1.gif");
	-fx-background-size: cover;
    -fx-font-size: 15.0pt;
    
}
#menu-buttons {
	-fx-font-family:'Arcade Interlaced';
    -fx-background-color: black;
    -fx-text-fill: white;
}

#menu-buttons:hover {
    -fx-background-color: black;
    -fx-text-fill: red;
}
#title{
	-fx-font-family:'Arcade Interlaced';
	-fx-fill: white !important;
	-fx-font-size: 50.0pt;
}
#credits-text{
	-fx-font-family:'Arcade Interlaced';
	-fx-text-fill: white !important;
	-fx-font-size: 13.0pt;

}
#credits-info{
	-fx-font-family:'Arcade Interlaced';
	-fx-fill: red !important;
	-fx-font-size: 15.0pt;

}
#credits-teresa{
	-fx-font-family:'Arcade Interlaced';
	-fx-text-fill: violet !important;
	-fx-font-size: 10.0pt;

}


