@font-face {
    font-family: Arcade;
    src: url('/font/arcade.ttf');
}

#mainPane {
    -fx-background-color: purple;
    -fx-font-size: 15.0pt;
    
}
#menu-buttons {
	-fx-font-family:'Arcade Interlaced';
    -fx-background-color: black;
    -fx-text-fill: white;
}

#menu-buttons:hover {
    -fx-background-color: black;
    -fx-text-fill: red;
}
